<a id="main-section"></a>
<section class="main-section">
  <header class="main-section__header">
    <p class="main-section__subtitle">
      {{main-section.subtitle}}
    </p>
  </header>
  <img
    class="main-section__image js-main-section__image"
    src="assets/images/Anclajes-plasticos-20-06.webp"
    alt="{{main-section.image-alt}}"
  />
  <div class="main-section__content main-section__content--special">
    <h1 class="main-section__title">
      <b class="main-section__bold">{{main-section.title}}</b>
    </h1>
    <ul class="main-section__list">
      {{#each main-section.checklist}}
        <li class="main-section__list-item">
          <i class="bi bi-check-circle main-section__list-item-icon"></i>
          {{this}}
        </li>
      {{/each}}
    </ul>
    <p>
      {{main-section.p-1}}
    </p>
    <p>
      {{main-section.p-2}}
    </p>
    <a
      type="button"
      class="btn btn-outline-light main-section__button"
      href="{{main-section.url-know-range}}"
    >{{main-section.know-range}}</a>
  </div>
</section>