<a id="gama"></a>
{{#with range-section}}
  <section class="section">
    <div class="container">
      <header class="section__header">
        <h2 class="section__title">
          {{title}}
        </h2>
      </header>
      <div class="swiper-container js-swiper-container-1">
        <div
          class="index-cards-container js-index-cards-container--interactive"
        >
          {{#each range-cards}}
            <article
              class="index-card index-card--mini index-card--interactive js-index-cards--interactive"
              data-show-id="{{this.related-products-id}}"
            >
              <div class="index-card__container">
                <div class="index-card__body">
                  <picture>
                    <source
                      class="index-card__image index-card__image--inline"
                      srcset="{{this.image2x}}"
                      media="(min-width: 768px)"
                    />
                    <img
                      alt="{{this.image-alt}}"
                      class="index-card__image index-card__image--inline"
                      src="{{this.image}}"
                    />
                  </picture>
                  <h2
                    class="index-card__title index-card__title--xl index-card__title--center mb-0 mt-1"
                  >
                    {{this.title}}
                  </h2>
                  <p
                    class="index-card__subtitle index-card__subtitle--center"
                  >{{description}}</p>
                </div>
              </div>
            </article>
          {{/each}}
          <article class="index-card index-card--mini index-card--interactive">
            <div class="index-card__container">
              <div class="index-card__body">
                <i class="bi bi-info-circle section__information__icon"></i>
                <p>{{card-info-1}}</p>
                <p>{{card-info-2}}</p>
                <a
                  class="btn btn-primary"
                  src="{{button-link}}"
                >{{button-text}}</a>

              </div>
            </div>
          </article>
        </div>
      </div>
      <h3 class="index-card__title index-card__title--black">
        {{related-products-title}}
      </h3>
      <div class="row">
        {{#each related-products}}
          <article
            class="index-card index-card--full-width index-card--hidden"
            data-id="{{this.id}}"
          >
            <div class="index-card__container">
              <div class="index-card__body">
                <div class="swiper-container js-swiper-container-{{this.swiper-id}}">
                  <div class="row">
                     {{#each ../commons-related-products}}
                        <a
                          class="col-12 col-md-6 col-lg-3 section__instalation-item section__instalation-item--center"
                        >
                          <img
                            class="img-fluid image-thumb"
                            src="{{this.image}}"
                            alt="{{this.image-alt}}"
                          />
                          <h3
                              class="index-card__title index-card__title--xl index-card__title--center mb-0 mt-1"
                            >
                              {{this.title}}
                            </h3>
                            <p
                              class="index-card__subtitle index-card__subtitle--center"
                            >{{description}}</p>
                        </a>
                     {{/each}}
                     {{#each products}}
                        <a
                          class="col-12 col-md-6 col-lg-3 section__instalation-item section__instalation-item--center"
                        >
                          <img
                            class="img-fluid image-thumb"
                            src="{{this.image}}"
                            alt="{{this.image-alt}}"
                          />
                          <h3
                              class="index-card__title index-card__title--xl index-card__title--center mb-0 mt-1"
                            >
                              {{this.title}}
                            </h3>
                            <p
                              class="index-card__subtitle index-card__subtitle--center"
                            >{{description}}</p>
                        </a>
                     {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </article>
        {{/each}}
      </div>
    </div>
  </section>
{{/with}}